<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to SignUp Page</h1>
    <form action="/signup" method="POST">
        <input type="text" placeholder="Enter User Name" name="username"> <br>
        <input type="text" placeholder="Enter Password" name="password"> <br>  
        <button type="submit">SignUp</button>
       
    </form>
    <div>
        Already a user? Login!
        <button>
            <a href="/login">Login</a>
        </button>
    </div>
</body>
</html>