<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Chat Application</h1>

    <div class="userDetails">
        <input placeholder="Enter username" type="text" id="username"><br>
        <button id="btn1">Enter Chat</button>
    </div>

    <div class="chattingApp">
    <input type="text" id="chatbox"><br>
    <button id="btn">Send</button>
    </div>

    <script src="/js/chat.js"></script>
</body>
</html>